body{
        color: lightslategrey;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 87px;
    text-decoration:lightslategrey underline;
    color:limegreen;
    margin-left:23px;
}
img#searchIcon{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 165px;
    left: 332px;
    float: right;

}
input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    top:173px;
    margin: 3px;
    left:27px;
    width:300px;
    height:30px;
    font-size: 23px;
    float: left;
    border:3px solid lightslategrey;
}

a{
    position:absolute;
    bottom:0 px;
}
p{
    margin: 3px; 
   margin-left: 65px;
}
li{
    margin: 3px;
    margin-left: 25px;
    list-style-type: square;
}
