body {
   
}

button {
    margin: 10px;
}

input {
    margin: 10px;
}

th {
    background-color: forestgreen;
    
}

.locationInput {
    margin-top: 20px;
}

.tableRow {
    width: 40%;
    background-color: lightgreen;
    text-align: center;
}

.tableCol {
    width: 10%;
}
